{% extends "layouts/base.html" %}


{% block title %} Erklärseite {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Konfusions Matrix</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Konfusions Matrix</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Was ist eine Konfusionsmatrix?</h5>
                                        </div>
                                        <div class="card-block">
                                            <p>Eine Konfusionsmatrix bildet die vorhergesagten und tatsächlichen Werte ab.<br> Die Klassenbezeichnungen sind mit der Anzahl der Klassen im Datensatz korreliert, und die Werte im Raster stellen die Klassifizierungsergebnisse über eine Reihe von Experimenten dar. <br> Die Konfusionsmatrix ermöglicht die Berechnung der Leistungsmetriken für den Klassifikator. <br> Folgende Abbildung veranschaulicht das Prinzip einer Konfusionsmatrix. Die vorhergesagten Klassenbezeichnungen werden in der ersten Spalte des Rasters angezeigt, während die tatsächlichen (erwarteten) Werte in der ersten Zeile stehen.
                                                <br> Die Werte in den weißen Zellen zeigen die tatsächlichen Ergebnisse, die von dem trainierten Modell unter Verwendung der Testdaten erzielt wurden. <br> Die diagonale Zahlenreihe stellt die erwarteten richtigen Klassifizierungen dar, während die Zahlen auf beiden Seiten der Diagonale entweder ein falsches Positiv oder ein falsches Negativ darstellen. <br> Dieses Beispielmodell hat neun korrekte Ergebnisse hervorgesagt, aber zwei wurden fälschlicherweise als 0 statt 1 klassifiziert.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Was ist eine Konfusionsmatrix?</h5>
                                        </div>
                                        <div class="card-block">
                                         {% load static %}
                                    <img src="{% static 'assets/images/Konfusionsmatrix.png' %}" alt="Konfusionsmatrix" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
